<% include _header %>
<style>
      body {
  background-image: url("/images/16.jpg");
  background-size: cover;

}
    </style>
<div class="container">
    <div class="container">
    <h1 style="font-family: Tahoma; color:white; text-align: center;">Leaderboard</h1>
    </div>
    <table class="table table-striped" style="background:rgba(225, 225, 225, .75)">
<% if (board[0]) { %>
    <tr><th>Rank</th><th>Email</th><th>Score</th><th>Date</th></tr>
<% for(var i = 0; i < board.length; i++) { %>
    <tr><td><%= i+1 %></td><td><%= board[i][0] %></td><td><%= board[i][1] %></td><td><%= board[i][2] %></td></tr>
<% }; } %>
    </table>
</div>
<% include _footer %>