<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/modal.css">

    <!-- login style -->
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans:600'>
    <link rel="stylesheet" href="/stylesheets/login.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/bing.js"></script>
    <script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1283318785021834',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.8' // use graph api version 2.8
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me?fields=id,name,first_name,last_name,gender,picture,email', function(response) {
      $("#email").val(response.email);
      $("#firstName").val(response.first_name);
      $("#lastName").val(response.last_name);
      // $("#gender").val(response.gender);
      // $("#profileImage").attr("src", response.picture.data.url);
    });
  }
  </script>
  </head>
  <body>
<!-- The Modal -->
<div id="bing-results" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Bing Search Results</h2>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
    </div>
  </div>

</div>
    <!-- just for test -->
    <!-- <div id = "div1"> TEST </div> -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Olympics</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li id="mainNav"><a href="/">Main</a></li>
        <li id="searchNav"><a href="/search">Result Search</a></li>
        <li id="quizNav"><a href="/quiz">Trivia Game</a></li>
        <li id="aboutNav"><a href="/about">About Us</a></li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Bing!" id="bing-search">
        </div>
        <div class="btn btn-default" id="search"><span class="glyphicon glyphicon-search"></span> Search</div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% if (user) { %>
        <li><a href= <%= "/profile" %>><span class="glyphicon glyphicon-user"></span> Profile</a></li>
        <li><a href= <%= "/logout" %>><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        <% } else { %>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <% } %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
		<div class="login-form">
			<div class="sign-in-htm">
			  <form action="/login" method="post">
				<div class="group">
					<label for="user" class="label">Email</label>
					<input id="user" type="text" class="input" name="email">
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" class="input" data-type="password" name="password">
				</div>
				<div class="hr"></div>
				<div class="group">
					<input type="submit" class="button" value="Sign In">
				</div>
			  </form>
			</div>
			<div class="sign-up-htm">
			  <form action="/signup" method="post" class="form-horizontal">
				<div class="group">
					<label for="user" class="label">Email</label>
					<input id="email" type="text" name="email" class="input">
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="password" type="password" name="password" class="input" data-type="password">
				</div>
				<div class="group">
					<label for="first" class="label">First Name</label>
					<input id="firstName" type="text" name="firstName" class="input">
				</div>
				<div class="group">
					<label for="last" class="label">Last Name</label>
					<input id="lastName" type="text" name="lastName" class="input">
				</div>
				<div class="hr"></div>
				<div class="group">
					<input type="submit" class="button" value="Sign Up">
				</div>
			  </form>
			  <div class="fb-button">
        <fb:login-button scope="public_profile" onlogin="checkLoginState();" data-size="large" data-show-faces="false" data-auto-logout-link="true"></fb:login-button>
			</div>
		</div>
	</div>
</div>
</div>
</body>
</html>