<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/modal.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/bing.js"></script>
  </head>
  <body>
<!-- The Modal -->
<div id="bing-results" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Bing Search Results</h2>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
    </div>
  </div>

</div>
    <!-- just for test -->
    <!-- <div id = "div1"> TEST </div> -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Olympics</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li id="mainNav"><a href="/">Main</a></li>
        <li id="searchNav"><a href="/search">Result Search</a></li>
        <li id="quizNav"><a href="/quiz">Trivia Game</a></li>
        <li id="aboutNav"><a href="/about">About Us</a></li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Bing!" id="bing-search">
        </div>
        <div class="btn btn-default" id="search"><span class="glyphicon glyphicon-search"></span> Search</div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% if (user) { %>
        <li><a href= <%= "/profile" %>><span class="glyphicon glyphicon-user"></span> Profile</a></li>
        <li><a href= <%= "/logout" %>><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        <% } else { %>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <% } %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    	 <div class="well profile" style="background:rgba(255,245,238,.9);width:560px">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                    <h2><%= user.first_name %> <%= user.last_name %></h2>
                    <p><strong>Email: </strong> <%= user.email %> </p>
                    <p><strong>Total Games: </strong> <%= user.scores.length %> </p>
                </div>             
            </div>
    <table class="table table-striped"> 
            <% if (user.scores) { %>
    			<tr>
    				<th style="background-color: #428bca; color: #FFFFFF">Score</th>
    				<th style="background-color: #428bca; color: #FFFFFF">Date</th>
    			</tr>
			<% user.scores.forEach(function(score) { %>
    			<tr><td><%= score[0] %></td><td><%= score[1] %></td></tr>
			<% }); } %>
    </table>         
            <!-- <div class="col-xs-12 divider text-center">
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong> 20,7K </strong></h2>                    
                    <p><small>Followers</small></p>
                    <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong>245</strong></h2>                    
                    <p><small>Following</small></p>
                    <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile </button>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong>43</strong></h2>                    
                    <p><small>Snippets</small></p>
                    <div class="btn-group dropup btn-block">
                      <button type="button" class="btn btn-primary"><span class="fa fa-gear"></span> Options </button>
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu text-left" role="menu">
                        <li><a href="#"><span class="fa fa-envelope pull-right"></span> Send an email </a></li>
                        <li><a href="#"><span class="fa fa-list pull-right"></span> Add or remove from a list  </a></li>
                        <li class="divider"></li>
                        <li><a href="#"><span class="fa fa-warning pull-right"></span>Report this user for spam</a></li>
                        <li class="divider"></li>
                        <li><a href="#" class="btn disabled" role="button"> Unfollow </a></li>
                      </ul>
                    </div>
                </div>
            </div> -->
    	 </div>                 
		</div>
	</div>
</div>
<% include _footer %>