<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quiz</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/w3.css">
    <link rel="stylesheet" href="/stylesheets/quiz.css">
    <link rel="stylesheet" href="/stylesheets/modal.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/quiz.js"> </script>
    <script src="/javascripts/bing.js"></script>
    
  
  <!-- formal content -->
  </head>
  <body>
<div id="bing-results" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Bing Search Results</h2>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
    </div>
  </div>

</div>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Olympics</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/">Main</a></li>
            <li><a href="/search">Result Search</a></li>
            <li class="active"><a href="/quiz">Trivia Game</a></li>
            <li><a href="/about">About Us</a></li>
          </ul>
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Bing!" id="bing-search">
            </div>
            <div class="btn btn-default" id="search"><span class="glyphicon glyphicon-search"></span> Search</div>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/board"><span class="glyphicon glyphicon-king"></span> Leaderboard</a></li>
            <% if (user) { %>
              <li><a href= <%= "/profile" %>><span class="glyphicon glyphicon-user"></span> Profile</a></li>
              <li><a href= <%= "/logout" %>><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            <% } else { %>
              <li><a href= <%= "/login" %>><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <% } %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  
    <div class="modal-dialog" style="height:500px;width:800px">
      <div class="modal-content" style="height:450px;width:750px">
         <div class="modal-header">
            <h3 id="question" style="font-size:130%"><span class="label label-warning" id="qid">1</span> <%= questions %></h3>
        </div>
        <div class="modal-body">
               <div id="loadbar" style="display: none">
                  
                  
                  <div style="text-align: center;">
                  <img id="image" alt="Right or Wrong" style="width:48px;height:48px" align="middle">
                  <p id="response" style="font-family: Verdana, serif, Times; font-size: 20px;">This is some text!</p>
                  <button id="next" type="submit" class="btn btn-default" style="height:40px;width:170px;font-size: 18px;">
                      Next Question <span class="glyphicon glyphicon-arrow-right"></span>
                  </button>
                  </div>
              </div>

          <div class="quiz" id="quiz" data-toggle="buttons">
          <!-- update choices -->
           <% for (var i = 0; i < choices.length; i++) { %>
              <label id="choice<%=i%>" class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="<%=choices[i]%>"><%=choices[i]%></label>
            <% } %>
          </div>
   </div>
   <div class="modal-footer" style="position:absolute;left:0px;bottom:0px;right:0px">
    <div class="progress">
      <div id="progress-bar" class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
        0/0
      </div>
    </div>
</div>
</div>
</div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="evaluationModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Evaluation</h4>
        </div>
        <div class="modal-body">
          <p id="evaluate" style="text-align: center">Some text in the modal.</p>
          <h4 id="congrats" style="text-align: center">Some text in the modal.</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>


  </body>
</html>