<!-- Argument -->
<!-- title, result.aname, result.gender, result.event, result.mtype -->
<% include _header %>
    <style>
      body {
  background-image: url("/images/7.jpg");
  background-size: cover;

}
    </style>
    <div class="container">
    <h1 style="font-family: Tahoma;color:white"><%= title %></h1>
    <p style="font-family: verdana;color:white">Top 20 countries </p>
    </div>
    <div class="container">
      <table class="table table-striped" style="background:rgba(225, 225, 225, .75)">
        <tr>
          <th>Rank</th>
          <th>Country</th>
          <th>Total Count</th>
          <th>Country</th>
          <th>GDP Adjusted Count</th>
          <th>Country</th>
          <th>Population Adjusted Count</th>
        </tr>
        <% if (typeof results1[0] != 'undefined') { %>
        <% for (var i = 0; i < 20; i++) { %>
        <tr>
          <td><%=i + 1%></td>
          <td><%=results1[i].cname%></td>
          <td align="center"><%=results1[i].ct%></td>
          <td><%=results2[i].cname%></td>
          <td align="center"><%=parseFloat(results2[i].ct).toFixed(2)%></td>
          <td><%=results3[i].cname%></td>
          <td align="center"><%=parseFloat(results3[i].ct).toFixed(2)%></td>
        </tr>
        <% } %>
        <% } %>
      </table>
    </div>
<% include _footer %>