<!-- Argument -->
<!-- title, result.aname, result.gender, result.event, result.mtype -->
<% include _header %>
    <style>
      body {
  background-image: url("/images/13.jpg");
  background-size: cover;

}
    </style>
    <div class="container">
    <h1 style="font-family: Tahoma;color:white"><%= title %></h1>
    <p style="font-family: verdana;color:white">List of Medalists</p>
    </div>
    <div class="container">
      <table class="table table-striped" style="background:rgba(225, 225, 225, .75)">
        <tr>
          <th>Name</th>
          <th>Gender</th>
          <th>Discipline</th>
          <th>Event</th>
          <th>Medal</th>
        </tr>
        <% results.forEach(function(result) { %>
        <tr>
          <td><%=result.aname%></td>
          <td><%=result.gender%></td>
          <td><%=result.discipline%></td>
          <td><%=result.event%></td>
          <td><%=result.mtype%></td>
        </tr>
        <% }) %>
      </table>
    </div>
<% include _footer %>