<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/w3.css">
    <link rel="stylesheet" href="/stylesheets/search.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/search.js"></script>
    <script src="/javascripts/bing.js"></script>
    
  </head>
  <body>
    <div id="bing-results" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Bing Search Results</h2>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
    </div>
  </div>

</div>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Olympics</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li id="mainNav"><a href="/">Main</a></li>
            <li class="active" id="searchNav"><a href="/search">Result Search</a></li>
            <li id="quizNav"><a href="/quiz">Trivia Game</a></li>
            <li id="aboutNav"><a href="/about">About Us</a></li>
          </ul>
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Bing!" id="bing-search">
            </div>
            <div class="btn btn-default" id="search"><span class="glyphicon glyphicon-search"></span> Search</div>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <% if (user) { %>
              <li><a href= <%= "/profile" %>><span class="glyphicon glyphicon-user"></span> Profile</a></li>
              <li><a href= <%= "/logout" %>><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            <% } else { %>
              <li><a href= <%= "/login" %>><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <% } %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    
    <div class="container" id="boxed">
      <h1 style = "font-family: verdana;">Result Search</h1>
      <br>
      <ul class="nav nav-pills">
        <li class="active"><a data-toggle="pill" href="#MedalistSearch">Medalist Search</a></li>
        <li><a data-toggle="pill" href="#CountrySearch">Country Ranking Search</a></li>
      </ul>
      <br>
      <div class="tab-content">
        <div id="MedalistSearch" class="tab-pane fade in active">
          <form method="get" action="/results" class="form-horizontal">
            <div class="form-group">
            <label for="nat">Nation:</label>
            
            <select type="text" name="nation" class="form-control" id="nat">
              <% results1.forEach(function(result) { %>
              <option value="<%=result.noc%>"><%=result.cname%></option>
              <% }) %>
            </select>
            </div>
            
            <div class="form-group">
            <label for="edi">Edition:</label>
            
            <select type="text" name="edition" class="form-control" id="edi">
              <% results2.forEach(function(result) { %>
              <option value="<%=result.edition%>"><%=result.edition%></option>
              <% }) %>
             edtion to be updated by nation 
            </select>
            </div>
            
            <div class="form-group">
            <label for="dis">Discipline:</label>
            
            <select type="text" name="discipline" class="form-control" id="dis">
              <% results3.forEach(function(result) { %>
              <option value="<%=result.discipline%>"><%=result.discipline%></option>
              <% }) %>
             discipline to be updated by edition 
            </select>
            </div>
            <br>
            <button type="submit" class="btn btn-default">
              <span class="glyphicon glyphicon-search"></span>Search
              </button>
          </form>
        </div>
        <br>
        <div id="CountrySearch" class = "tab-pane fade">
          <form method="get" action="/rank" class="form-horizontal">
            <div class="form-group">
            <label for="nat">Year:</label>
            
            <select type="text" name="year" class="form-control" id="yr">
              <% results4.forEach(function(result) { %>
              <option value="<%=result.edition%>"><%=result.edition%></option>
              <% }) %>
            </select>
            </div>
            <br><br>
            <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span>Search
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>