<% include _header %>
<script>
// window.setTimeout(function() {
//         window.location.href = "/";
//     }, 1000);

var count = 4;

setInterval(function(){
   count--;
   $("#countdown").text(String(count));
   if (count === 0) {
      window.location.href = '/';
   }
}, 1000);
</script>
<% if (!user) { %>
	<p>Welcome! Please <a href="/login" style="text-decoration: underline; color: blue">log in</a>.</p>
<% } else { %>
	<p>Hello, <%= user.username %>. View your <a href="/profile" style="text-decoration: underline; color: blue">profile</a>.</p>
<% } %>
<p>The page is directing in <span id="countdown">4</span>s</p>