<% include _header %>
<div class="container">
<form action="/login" method="post" class="form-horizontal">
	<div class="form-group">
	<label class="control-label col-sm-2">Email:</label>
	<div class="col-sm-6">
	<input type="text" name="email" class="form-control"/>
	</div>
	</div>
	<div class="form-group">
	<label class="control-label col-sm-2">Password:</label>
	<div class="col-sm-6">
	<input type="password" name="password" class="form-control"/>
	</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-6">
	<input type="submit" value="Submit" class="btn btn-default"/>
	</div>
	</div>
</form>
</div>
<p>Don't have an account? <a href="/signup"><u>Sign Up!</u></a>.</p>
<% include _footer %>