<% include _header %>
<div class="container">
    <p style="font-family: verdana;font-size: 20px;">Welcome back!<br/></p>
    <p style="font-family: verdana;font-size: 20px;">Name: <%= user.displayName %><br/></p>
    <p style="font-family: 'Courier New';font-size: 15px;">Email: <%= user.email %><br/></p>
    <table class="table table-striped">
<% if (user.scores) { %>
    <tr><th>Score</th><th>Date</th></tr>
<% user.scores.forEach(function(score) { %>
    <tr><td><%= score[0] %></td><td><%= score[1] %></td></tr>
<% }); } %>
    </table>
    <a href="/logout">Log out</a>
</div>
<% include _footer %>