<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quiz</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- for quiz updating -->
    <script>
    
    $(document).ready(function() {
      // questions initialization
      var questions = [];
      var choices = [];
      var currentQuestion = 1;
      var score = 0;
      var askingquestion = true;
      var choicesHtml = "";
      // import questions and choices
      <% for (var i = 0; i < questions.length; i++) { %>
        questions[<%= i %>] = '<%= questions[i] %>';
      <% } %>

      <% for (var i = 0; i < choices.length; i++) { %>
        choices[<%= i %>] = [];
        <% for (var j = 0; j < choices[0].length; j++) { %>
          choices[<%= i %>][<%= j %>] = '<%= choices[i][j] %>';
        <% } %>
      <% } %>
      // function to generate choice html
      function askQuestion() {
        var currentChoices = choices[currentQuestion];
        choicesHtml = "";

        for (var i = 0; i < currentChoices.length; i++) {
          choicesHtml += "<input type='radio' name='quiz" +
            "' id='choice" + i +
            "' value='" + currentChoices[i] + "'>" +
            " <label for='choice" + i + "'>" + currentChoices[i] + "</label><br>";
        }
      }
      // show the result or show next question when clicking the button
      var showResult = true;
      $('#submit').click(function() {
        // show the result
        if (showResult) {
          // request answer from the server
          var final_choice = $("input[type = 'radio'][name = 'quiz']:checked");
          $.get("/quiz?number="+(currentQuestion-1), function(data, status) {
            var id = '#choice'+data;
            // show right or wrong
            if (final_choice.val() == data) {
              $('#answer').css({ 'color': 'green', 'font-weight': 'bold', 'font-size': '120%' });
              $('#answer').text("Correct!  The answer is " + data + ".");
              score = score + 1;
            } else {
              $('#answer').css({ 'color': 'red', 'font-weight': 'bold', 'font-size': '120%' });
              $('#answer').text("Incorrect! The answer is " + data + ".");
            }
          // show the current score and disable radio
          $('#score').text("Score: " + String(score)+" right answers out of <%= questions.length%> possible.");
          $("input[type = 'radio'][name = 'quiz']").attr("disabled",true);
          });
          // change the display of the button
          if (currentQuestion < questions.length) {
            $('#submit').prop('value', 'Next Question');
          } else {
            $('#submit').prop('value', 'Evaluation');
          }
          showResult = false;
        // show next question
        } else {
          if (currentQuestion < questions.length) {
            // show the next question
            $('#answer').text("");
            $('#question').text("Q" + (currentQuestion + 1) + "." + questions[currentQuestion]);
            askQuestion();
            $('#choices').html(choicesHtml);
            $('#submit').prop('value', 'Submit Answer');
            showResult = true;
            currentQuestion += 1;
          } else {
            // show the evaluation
            alert("Score: " + String(score)+" right answers out of <%= questions.length%> possible.");
          }
        }
      });

    });
    </script>
  
  <!-- formal content -->
  </head>
  <body>

    <div class="container">
      <h1>Quiz</h1>
    </div>
    <div class="container">
    <!-- used for score showing -->
    <div id="score">Score: 0 right answers out of <%= questions.length%> possible.</div>
    <!-- question -->
    <h3 id="question">Q1.<%= questions[0]%> </h3>
    <!-- choices -->
      <div name = "choice" id="choices">
          <!-- update choices -->
           <% for (var i = 0; i < choices[0].length; i++) { %>
            <input type="radio" name="quiz" id = "choice<%= i %>" value="<%=choices[0][i]%>"> <label for='choice<%=i%>'><%=choices[0][i]%></label><br>
          <% } %>
      </div>
      <!-- button -->
      <input type="submit" id="submit" value="Submit Answer">
      <!-- correct answer -->
      <div id = "answer"> </div>
    </div>
  </body>
</html>