<% include _header %>
<div id="fb-root"></div>
    <script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1283318785021834',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.8' // use graph api version 2.8
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me?fields=id,name,first_name,last_name,gender,picture,email', function(response) {
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
      $("#email").val(response.email);
      $("#firstName").val(response.first_name);
      $("#lastName").val(response.last_name);
      $("#gender").val(response.gender);
      $("#profileImage").attr("src", response.picture.data.url);
    });
  }
  </script>
  <div class="container">
  <img src="/images/profile.jpg" class="img-rounded" alt="Profile Icon" id="profileImage">
<form action="/signup" method="post" class="form-horizontal">
  <div class="form-group">
	<label class="control-label col-sm-2">Email:</label>
	<div class="col-sm-6">
	<input id="email" type="text" name="email" class="form-control"/>
	</div>
	</div>
	<div class="form-group">
	<label class="control-label col-sm-2">Password:</label>
	<div class="col-sm-6">
	<input type="password" name="password" class="form-control"/>
	</div>
	</div>
	<div class="form-group">
	<label class="control-label col-sm-2">First name:</label>
	<div class="col-sm-6">
	<input id="firstName" type="text" name="firstName" class="form-control"/>
	</div>
	</div>
	<div class="form-group">
	<label class="control-label col-sm-2">Last name:</label>
	<div class="col-sm-6">
	<input id="lastName" type="text" name="lastName" class="form-control"/>
	</div>
	</div>
	<div class="form-group">
	<label class="control-label col-sm-2">Gender:</label>
	<div class="col-sm-6">
	<select name="gender" id="gender">
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select>
	</div>
	</div>
	<div class="form-group">
	  <div class="col-sm-offset-2 col-sm-6">
	<input type="submit" value="Submit" class="btn btn-default"/>
	</div>
	</div>
</form>
</div>
<div class="container">
<fb:login-button scope="public_profile" onlogin="checkLoginState();" data-size="large" data-show-faces="false" data-auto-logout-link="true"></fb:login-button>
<div id="status"></div>
</div>
<% include _footer %>